---js
const eleventyNavigation = {
	key: "Home",
	order: 1
};
---
<blockquote>The fox knows many little things, but the hedgehog knows one big thing.</blockquote>

<h1>Welcome.</h1>
{{ metadata.description }}
<h2>Posts.</h2>