:root {
	/* Varaables */

	/* color */

	--primary: oklch(69.64% 0.1839 47.24);
	--primary-500: oklch(49% 0.129 47.24);
	--primary-900: oklch(10% 0.033 0);
	/* blue gem */
	--secondary: oklch(33.34% 0.1896 271.19);
	--secondary-125: oklch(88% 0.048 38.94);
	--secondary-900: oklch(10% 0.029 0);
	/* negroni */
	--tertiary: oklch(91.36% 0.0539 60.72);
	--tertiary-500: oklch(49% 0.113 60.72);
	--tertiary-900: oklch(10% 0.049 271.19);
	--neutral: oklch(19.2% 0.0026 67.68);
	--neutral-500: oklch(49% 0.007 67.68);
	--neutral-125: oklch(88% 0.005 67.68);
	--info: oklch(69.83% 0.1641 242.23);
	--success: oklch(79.55% 0.2002 126.8);
	--caution: oklch(83.72% 0.1607 97.21);
	--danger: oklch(63.33% 0.2495 24.57);

	/* text sizes */

	/* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1240,18,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

	--step--2: clamp(0.6331rem, 0.8328rem + -0.2576vw, 0.7813rem);
	--step--1: clamp(0.844rem, 0.97rem + -0.1627vw, 0.9375rem);
	--step-0: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
	--step-1: clamp(1.35rem, 1.298rem + 0.2602vw, 1.4996rem);
	--step-2: clamp(1.62rem, 1.4882rem + 0.6591vw, 1.999rem);
	--step-3: clamp(1.944rem, 1.6933rem + 1.2533vw, 2.6647rem);
	--step-4: clamp(2.3328rem, 1.9087rem + 2.1204vw, 3.552rem);
	--step-5: clamp(2.7994rem, 2.1262rem + 3.366vw, 4.7348rem);

	/* spacing */

	/* @link https://utopia.fyi/space/calculator?c=320,18,1.2,1240,18,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,m-2xl&g=s,l,xl,12 */

	--space-3xs: clamp(0.3125rem, 0.3125rem + 0vw, 0.3125rem);
	--space-2xs: clamp(0.5625rem, 0.5625rem + 0vw, 0.5625rem);
	--space-xs: clamp(0.875rem, 0.875rem + 0vw, 0.875rem);
	--space-s: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
	--space-m: clamp(1.6875rem, 1.6875rem + 0vw, 1.6875rem);
	--space-l: clamp(2.25rem, 2.25rem + 0vw, 2.25rem);
	--space-xl: clamp(3.375rem, 3.375rem + 0vw, 3.375rem);
	--space-2xl: clamp(4.5rem, 4.5rem + 0vw, 4.5rem);
	--space-3xl: clamp(6.75rem, 6.75rem + 0vw, 6.75rem);
	--space-3xs-2xs: clamp(0.3125rem, 0.2255rem + 0.4348vw, 0.5625rem);
	--space-2xs-xs: clamp(0.5625rem, 0.4538rem + 0.5435vw, 0.875rem);
	--space-xs-s: clamp(0.875rem, 0.788rem + 0.4348vw, 1.125rem);
	--space-s-m: clamp(1.125rem, 0.9293rem + 0.9783vw, 1.6875rem);
	--space-m-l: clamp(1.6875rem, 1.4918rem + 0.9783vw, 2.25rem);
	--space-l-xl: clamp(2.25rem, 1.8587rem + 1.9565vw, 3.375rem);
	--space-xl-2xl: clamp(3.375rem, 2.9837rem + 1.9565vw, 4.5rem);
	--space-2xl-3xl: clamp(4.5rem, 3.7174rem + 3.913vw, 6.75rem);
	--space-m-2xl: clamp(1.6875rem, 0.7092rem + 4.8913vw, 4.5rem);

	/* typography */
	--base-font: Charter, "Bitstream Charter", "Sitka Text", Cambria, serif;
	--display-font: Didot, "Bodoni MT", "Noto Serif Display", "URW Palladio L",
		P052, Sylfaen, serif;
}

/* Measure */

* {
	max-inline-size: 60ch;
}

html,
body,
div,
header,
nav,
main,
footer {
	max-inline-size: none;
}

/* Generic */

body {
	background-color: var(--neutral-125);
	color: var(--neutral);
	/* font-family: var(--base-font); */
	font-size: var(--step-0);
}

:is(h1, h2, h3, h4, h5) {
	font-weight: 900;
	color: var(--primary-125);
}

h1 {
	font-size: var(--step-5);
}

h2 {
	font-size: var(--step-4);
}

h3 {
	font-size: var(--step-3);
}

h4 {
	font-size: var(--step-2);
}

:is(h5, h6) {
	font-size: var(--step-0);
	color: inherit;
}

h5 {
	font-weight: 700;
	text-transform: uppercase;
}

h6 {
	font-weight: 600;
	font-style: italic;
}

:is(header, footer) {
	font-size: var(--step-1);
	font-weight: 700;
	color: var(--secondary);
}

header {
	margin-block-end: var(--space-m);
	border-block-end: 0.2ex solid currentColor;
}

:is(header, footer) > * {
	padding-block: var(--space-2xs);
	padding-inline: var(--space-l);
}

main {
	margin-inline: var(--space-m-2xl);
}

footer {
	margin-block-start: var(--space-l);
	border-block-start: 0.2ex solid currentColor;
}

p {
	padding-block: 0.5lh;
}

figure:has(blockquote) {
	margin-block-end: 2lh;
	padding-block: 1lh;
	border-block: 1px solid black;
}
