<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">
		<link rel="alternate" href="feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">

		{#- Uncomment this if you’d like folks to know that you used Eleventy to build your site!  #}
		{#- <meta name="generator" content="{{ eleventy.generator }}"> #}

		{#-
		Plain-text bundles are provided via the `eleventy-plugin-bundle` plugin:
		1. CSS:
			* Add to a per-page bundle using `{% css %}{% endcss %}`
			* Retrieve bundle content using `{% getBundle "css" %}` or `{% getBundleFileUrl "css" %}`
		2. Or for JavaScript:
			* Add to a per-page bundle using `{% js %}{% endjs %}`
			* Retrieve via `{% getBundle "js" %}` or `{% getBundleFileUrl "js" %}`
		3. Learn more: https://github.com/11ty/eleventy-plugin-bundle
		#}

		{#- Add the contents of a file to the bundle #}
		{%- css "reset" %}{% include "node_modules/@acab/reset.css/index.css" %}{% endcss %}
		{%- css "base" %}{% include "_includes/css/_base.css" %}{% endcss %}
		{%- css "utility" %}{% include "_includes/css/_utility.css" %}{% endcss %}

		{#- Render the CSS bundle using inlined CSS (for the fastest site performance in production) #}
		{# <style>
			@layer reset;
			@import url({% getBundle "css", "reset" %}) layer(reset);
		</style> #}
		<style>
			@layer reset, base, utility;
			@import url({% getBundleFileUrl "css", "reset" %}) layer(reset);
			@import url({% getBundleFileUrl "css", "base" %}) layer(base);
			@import url({% getBundleFileUrl "css", "utility" %}) layer(utility);
		</style>
		{#- Renders the CSS bundle using a separate file, if you can't set CSP directive style-src: 'unsafe-inline' #}
		{#- <link rel="stylesheet" href="{% getBundleFileUrl "css" %}"> #}
		{# <link rel="stylesheet" href="public/css/main.css"> #}

		{#- Add the heading-anchors web component to the JavaScript bundle #}
		{%- js %}{% include "node_modules/@zachleat/heading-anchors/heading-anchors.js" %}{% endjs %}
	</head>
	<body>
		<a href="#skip" class="visually-hidden">Skip to main content</a>

		<header>
			<div class="site-title">
				<a href="/" class="home-link">{{ metadata.title }}</a>
			</div>

			{#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
			<nav>
				<h2 class="visually-hidden">Top level navigation menu</h2>
				<ul class="nav">
					{%- for entry in collections.all | eleventyNavigation %}
						<li class="nav-item">
							<a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a>
						</li>
					{%- endfor %}
				</ul>
			</nav>
		</header>

		<main id="skip">
			{{ content | safe }}
		</main>

		<footer>
			<p>
				<em>Built with <a href="https://www.11ty.dev/">{{ eleventy.generator }}</a>
				</em>
			</p>
		</footer>

		<!-- This page `{{ page.url }}` was built on {% currentBuildDate %} -->
		<script type="module" src="{% getBundleFileUrl "js" %}"></script>
	</body>
</html>